.main-container {
    margin-top: 50px;
    justify-items: center;

    & .logo-question {
        margin-bottom: 40px;
    }
    & .input {
        align-items: center;
        margin: 0 120px;
        padding: 10px;
        border-radius: 10px;
    }

    & .titulo{
        text-align: center;
    }
    & .center-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    & .main-container__image {
        width: 100px;
    }

    & .subtitle-tip {
        margin: 50px 0 20px 0;
    }
    & .button-submit {
        margin-top: 20px;
        width: 100px;
        border: 1px solid black;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}


