.container{
    margin-top: 100px;
    justify-items: center;
    justify-content: center;

    & .container__top {
        display: flex;
        flex-wrap: wrap;
        max-width: 300px;
        justify-content: center;
        gap: 20px;
        & .label-name {
            margin: 0 120px;
        }
        & #error {
            color: #f00;
            margin: 0 110px;
        }
    }
    & .container__center {
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;
        & #show {
            display: inline-block;
            text-align: center;
            width: 300px;
            margin: 20px;
        }
    }
    & .input-name{
        padding: 5px 3px;
        border-radius: 7px;
    }
    & .btn-save{
        background-color: #52D8D1;
        font-weight: bold;
        margin-top: 10px;
        width: 100px;
        border-radius: 100px;
        padding: 10px 20px;
        border: 1px solid #000;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.container-second{
    justify-items: center;
    justify-content: center;
    margin: 20px;
    
    & .title-second{
        margin: 0;
    }
    & .btn-choose {
        width: 70px;
        height: 70px;
        margin: 10px;
    }
    & .piedra{
        background-image: url('../img/img-game2/stone.png');

    }
    & .papel{
        background-image: url('../img/img-game2/paper.png');
    }
    & .tijera{
        background-image: url('../img/img-game2/scissor.png');
    }
}
.definir{
    text-align: center;
    margin: 20px;
 } 
 .container-third {
    text-align: center;

    & .img-fondo{
        margin: 0;
    }
}