header {
    display: flex;
    margin: 15px 0 0 20px;
    align-items: center;

    & .header__title {
        margin-left: 10px;
    }
}
main {
    & .main-title {
        font-size: 1.5em;
        color: #000;
        text-align: center; 
    }
    & .card-container {
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;

        & .link-game {
            text-decoration: none;
            color: black;
            margin: 20px;
            width: 200px;
            height: 100px;
            display: inline;
            background-color: #7BFDE3;
            align-content: center;
            transition: transform 0.3s ease;
            border-radius: 10px;
            &:hover {
                transform: scale(1.1);
                background-color: var(--color-cyan);
            }
        }
    }
}

