:root {
    --cyan: #52D8D3;
    --light-cyan: #B2F6F3;
    --while: #F2F2EC;
}
body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--while);
}
.button {
    background-color: var(--cyan);
    padding: 10px 20px;
    border-radius: 100px;
}