.main-container {
    display: grid;
    margin-top: 50px;
    justify-items: center;

    & .logo-question {
        width: 64px;
        margin-bottom: 40px;
        aspect-ratio: 64/64;
    }
    & .input {
        align-items: center;
        margin: 0 110px;
        padding: 10px;
        border-radius: 10px;
        @media (max-width: 700px){margin: 20px 50px;}
    }

    & .main-container__titulo{
        text-align: center;
    }
    & .center-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    & .main-container__image {
        width: 100px;
        aspect-ratio: 64/ 64;
    }

    & .subtitle-tip {
        margin: 50px 0 20px 0;
    }
    & .button-send {
        background-color: var(--cyan);
        padding: 7px 20px;
        border-radius: 20px;
        font-weight: bold;
        width: 100px;
        border: 1px solid #000;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}


